<ion-view title="Configuração" id="page13">
  <ion-content padding="true" class="has-header">
    <h1 id="configuraO-heading6" style="color:#000000;text-align:center;">SW-Luz</h1>
    <a ui-sref="menu.pedidosAbertos()" id="configuraO-button26" class="button button-positive button-block">Listar pedidos abertos</a>
    <a ui-sref="menu.pedidosConcluidos()" id="configuraO-button27" class="button button-positive button-block">Listas pedidos concluidos</a>
    <div id="configuraO-button-bar2" class="button-bar"></div>
    <a ui-sref="menu.editarEquipes()" id="configuraO-button25" class="button button-positive button-block">Editar equipe técnica</a>
    <a ui-sref="menu.editarMateriais()" id="configuraO-button29" class="button button-positive button-block">Editar tabela de materiais </a>
  </ion-content>
</ion-view>