<ion-view title="Editar equipes" id="page16">
  <ion-content padding="true" class="has-header">
    <button id="editarEquipes-button37" class="button button-positive button-block">Adicionar equipe</button>
    <ion-list id="editarEquipes-list15">
      <ion-item id="editarEquipes-list-item27">Equipe 01</ion-item>
    </ion-list>
    <div id="editarEquipes-button-bar3" class="button-bar">
      <button id="editarEquipes-button34" class="button button-positive button-block">Editar</button>
      <button id="editarEquipes-button35" class="button button-positive button-block">Remover</button>
    </div>
  </ion-content>
</ion-view>