<ion-view title="Editar materiais" id="page17">
  <ion-content padding="true" class="has-header">
    <button id="editarMateriais-button38" class="button button-positive button-block">Adicionar item</button>
    <ion-list id="editarMateriais-list16">
      <ion-item id="editarMateriais-list-item28">Item 1</ion-item>
    </ion-list>
    <div id="editarMateriais-button-bar4" class="button-bar">
      <button id="editarMateriais-button42" class="button button-positive button-block">Alterar</button>
      <button id="editarMateriais-button43" class="button button-positive button-block">Remover</button>
    </div>
    <ion-list id="editarMateriais-list17">
      <ion-item id="editarMateriais-list-item29">Item 2</ion-item>
    </ion-list>
    <div id="editarMateriais-button-bar5" class="button-bar">
      <button id="editarMateriais-button45" class="button button-positive button-block">Alterar</button>
      <button id="editarMateriais-button46" class="button button-positive button-block">Remover</button>
    </div>
  </ion-content>
</ion-view>