<ion-view title="Login SW-Luz" id="page5">
  <ion-content padding="true" class="has-header">
    <form id="loginSWLuz-form2" class="list">
      <ion-list id="loginSWLuz-list3">
        <label class="item item-input" id="loginSWLuz-input3">
          <span class="input-label">Email</span>
          <input type="email" placeholder="">
        </label>
        <label class="item item-input" id="loginSWLuz-input4">
          <span class="input-label">Password</span>
          <input type="password" placeholder="">
        </label>
      </ion-list>
      <div class="spacer" style="height: 40px;"></div>
      <a ui-sref="menu.sWLuz()" id="loginSWLuz-button3" class="button button-stable button-block">Log in</a>
      <a ui-sref="menu.signup()" id="loginSWLuz-button4" class="button button-positive button-block button-clear">Or create an account</a>
    </form>
    <a ui-sref="menu.ordemDeServiOSWLuz()" id="loginSWLuz-button18" class="button button-positive button-block">Pagina da equipe técnica</a>
    <a ui-sref="menu.configuraO()" id="loginSWLuz-button10" class="button button-positive button-block">Pagina do gestor</a>
  </ion-content>
</ion-view>