<ion-view title="Ordem de serviço SW-Luz" id="page9">
  <ion-content padding="true" class="has-header">
    <h3 id="ordemDeServiOSWLuz-heading2" style="color:#000000;">Lista de serviços</h3>
    <ion-list id="ordemDeServiOSWLuz-list10">
      <div class="item item-body" id="ordemDeServiOSWLuz-list-item-container1">
        <h3 id="ordemDeServiOSWLuz-heading4" style="color:#000000;">Tipo de serviço | Protocolo | Endereço</h3>
      </div>
    </ion-list>
    <ion-list id="ordemDeServiOSWLuz-list6">
      <ion-item id="ordemDeServiOSWLuz-list-item8">Lampada queimada | 1111 | Rua A, 23</ion-item>
    </ion-list>
    <a ui-sref="menu.serviO()" id="ordemDeServiOSWLuz-button15" class="button button-positive button-block">Abrir serviço</a>
    <ion-list id="ordemDeServiOSWLuz-list8">
      <ion-item id="ordemDeServiOSWLuz-list-item12">Lampada acesa | 111a | Rua B, 33</ion-item>
    </ion-list>
    <a ui-sref="menu.serviO()" id="ordemDeServiOSWLuz-button16" class="button button-positive button-block">Abrir serviço</a>
  </ion-content>
</ion-view>