<ion-view title="Pedidos abertos" id="page14">
  <ion-content padding="true" class="has-header">
    <ion-list id="pedidosAbertos-list13">
      <ion-item id="pedidosAbertos-list-item15">Item</ion-item>
      <ion-item id="pedidosAbertos-list-item17">Item</ion-item>
      <ion-item id="pedidosAbertos-list-item18">Item</ion-item>
      <ion-item id="pedidosAbertos-list-item19">Item</ion-item>
      <ion-item id="pedidosAbertos-list-item20">Item</ion-item>
      <ion-item id="pedidosAbertos-list-item21">Item</ion-item>
    </ion-list>
  </ion-content>
</ion-view>