<ion-view title="Pedidos concluidos" id="page15">
  <ion-content padding="true" class="has-header">
    <ion-list id="pedidosConcluidos-list14">
      <ion-item id="pedidosConcluidos-list-item22">Item</ion-item>
      <ion-item id="pedidosConcluidos-list-item23">Item</ion-item>
      <ion-item id="pedidosConcluidos-list-item24">Item</ion-item>
      <ion-item id="pedidosConcluidos-list-item25">Item</ion-item>
      <ion-item id="pedidosConcluidos-list-item26">Item</ion-item>
    </ion-list>
  </ion-content>
</ion-view>