<ion-view title="Pedido" id="page8">
  <ion-content padding="true" class="has-header">
    <h1 id="pedido-heading1" style="color:#000000;">Seu pedido</h1>
    <div class="spacer" style="width: 300px; height: 29px;"></div>
    <div id="pedido-markdown1" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Tipo de serviço:
        <br>Nome da rua:
        <br>Bairro:
        <br>Ponto de referência:
        <br>Data e hora do pedido:
        <br>Status:</p>
    </div>
    <div id="pedido-button-bar1" class="button-bar">
      <button id="pedido-button12" class="button button-positive button-block">Alterar</button>
      <button id="pedido-button13" class="button button-positive button-block">Excluir</button>
    </div>
  </ion-content>
</ion-view>
