<ion-view title="Serviço" id="page10">
  <ion-content padding="true" class="has-header">
    <h3 id="serviO-heading5" style="color:#000000;">Serviço aberto</h3>
    <ion-list id="serviO-list12">
      <div class="item item-body" id="serviO-list-item-container3">
        <div id="serviO-markdown9" class="show-list-numbers-and-dots">
          <p style="margin-top:0px;color:#000000;">Item 001, endereço, ....</p>
        </div>
      </div>
      <label class="item item-input" id="serviO-input7">
        <span class="input-label">Peças usadas</span>
        <input type="text" placeholder="Quantidade">
      </label>
    </ion-list>
  </ion-content>
</ion-view>