<ion-view title="Signup" id="page11">
  <ion-content padding="true" class="has-header">
    <form id="signup-form7" class="list">
      <ion-list id="signup-list9">
        <label class="item item-input" id="signup-input11">
          <span class="input-label">Name</span>
          <input type="text" placeholder="">
        </label>
        <label class="item item-input" id="signup-input14">
          <span class="input-label">Endereço</span>
          <input type="text" placeholder="">
        </label>
        <label class="item item-input" id="signup-input15">
          <span class="input-label">CPF</span>
          <input type="number" placeholder="">
        </label>
        <label class="item item-input" id="signup-input16">
          <span class="input-label">Telefone</span>
          <input type="tel" placeholder="">
        </label>
        <label class="item item-input" id="signup-input12">
          <span class="input-label">Email</span>
          <input type="email" placeholder="">
        </label>
        <label class="item item-input" id="signup-input13">
          <span class="input-label">Password</span>
          <input type="text" placeholder="">
        </label>
      </ion-list>
      <button id="signup-button17" class="button button-stable button-block">Sign up</button>
    </form>
  </ion-content>
</ion-view>