<ion-view title="Sobre" id="page12">
  <ion-content padding="true" class="has-header">
    <div id="sobre-markdown5" style="text-align:center;" class="show-list-numbers-and-dots">
      <p style="color:#000000;">SW-Luz
        <br>Sistema web de gerenciamento de
        <br>pedidos de serviços de iluminação pública </p>

      <p style="color:#000000;">FIT-Faculdade de Informática de Taquara </p>

      <p style="color:#000000;">Criador: Fabio Toshio Matte </p>

      <p style="color:#000000;">Orientador: Rodrigo Jardim</p>

      <p style="color:#000000;">Todos direitos reservados</p>

      <p style="color:#000000;">Versão1.0</p>
    </div>
  </ion-content>
</ion-view>