<ion-view title="Solicitação de serviço SW-Luz" id="page7">
  <ion-content padding="true" class="has-header">
    <form id="solicitaODeServiOSWLuz-form5" class="list">
      <label class="item item-select" id="solicitaODeServiOSWLuz-select1">
        <span class="input-label">Tipo de serviço</span>
        <select>
          <option>Lampada queimada</option>
          <option>Lampada acesa</option>
          <option>Novo ponto de luz</option>
          <option>Manutenção</option>
        </select>
      </label>
      <label class="item item-input" id="solicitaODeServiOSWLuz-textarea1">
        <span class="input-label">Ponto de referência:</span><textarea placeholder="Ex. Nome da rua e numero da residencia ">{{name}}</textarea></label>
    </form>
    <button id="solicitaODeServiOSWLuz-button6" class="button button-positive button-block">Solicitar serviço</button>
  </ion-content>
</ion-view>
